<h1>single fights info</h1>

<h1>{{fighter.name}}</h1>

<h1>{{fighter.country}}</h1>

<h1>{{fighter.SignatureMove}}</h1>

<h1>{{fighter.image}}</h1>

<a href="/fighters/{{this._id}}"> Fighters Info </a>
<br><br>
    <a href="/"> Home </a>


